{% extends template_path %}

{% block id %}{{ id }}_textarea{% endblock %}
{% block label %}<label for="{{ id }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olh-field-content textarea">
        <textarea name="{{ name }}" id="{{ id }}" rows="{{ rows }}"{{ placeholder }}>{{ val }}</textarea>
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
